<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Product name</th>
            <th>Description</th>
            <th class="has-text-centered">Price</th>
            <th class="has-text-centered">Quantity</th>
        </tr>
    </thead>
    <tbody>
        {{#each products as |product|}}
            <tr>
                <td>{{product.name}}</td>
                <td><i>{{product.description}}</i></td> 
                <td class="has-text-centered">${{product.price}}</td>
                <td class="has-text-centered">
                    <strong>{{product.order_quantity}}</strong>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>