<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <p class="title">
                Ember Store by Ilya L
            </p>
            <p class="subtitle">
                This app uses Ember.js as a front-end and Ruby on Rails as a back-end.
            </p>
        </div>
    </div>
</section>